.wrapper {
  width: 900px;
  margin: 0 auto;
  height: 100%;
}

.empty {
  height: 100%;
}

.icon {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  svg {
    color: rgb(105, 67, 67);
    height: 300px;
    width: 300px;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  li {
    margin-top: 15px;
  }
}
