.wrapper {
  display: flex;
  align-items: center;
}

.img {
  width: 100px;
  height: 100px;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 300px;
}

.content {
  margin-left: 20px;
}

.button {
  margin-left: auto;
}
