@import-normalize;

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
}
